---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import SongTitle from "@components/SongTitle.astro";
const allPosts = Object.values(
    import.meta.glob("./songs/*.mdx", { eager: true }),
);
---

<Layout
    ><Welcome />
    <ul>
        {
            allPosts.map((post: any) => (
                <li class="my-5 mx-10">
                    <SongTitle
                        link={post.url}
                        title={post.frontmatter.title}
                        capo={post.frontmatter.capo}
                        artist={post.frontmatter.artist}
                        tuning={post.frontmatter.tuning}
                        duration={post.frontmatter.duration}
                    />
                </li>
            ))
        }
    </ul>
</Layout>
